<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pashupalan</title>
    <link rel="stylesheet" href="/client/public/css/cattle.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/client/public/css/navbar.css">
  </head>
  <body>

    <div class="navbar">
      <div class="nav_left">
          <div class="logo_img"><img src="/client/public/assets/farmer_logo.png" alt=""></div>
          <div class="title">KISAN <span class="pragati">PRAGATI</span></div>
      </div>
      <div class="nav_mid">
          <div class="home"><a href="/client/index.html">Home</a></div>
          <div class="dropdown">
              <button class="services">Services</button>
              <div class="drop_content">
                  <a href="./precision.html">Precision Agriculture</a>
                  <a href="./organic.html">Organic Farming</a>
                  <a href="./cattle.html">Animal Husbandry</a>
              </div>
          </div>

          <div class="contact"><a href="">Contact</a></div>
          <div class="help"><a href="./faq.html">Help</a></div>
      </div>
      <div class="nav_right">
          <button class="sign_in" ><a href="/client/index.html">Log Out</a></button>
      </div>
  </div>

    <div id="main">
      <div class="hero">
        <!-- <div class="cattle">Cattle</div>
         <div class="calves">Calves & dairy</div> -->
        <div
          id="carouselExampleDark"
          class="carousel carousel-dark slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleDark"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleDark"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleDark"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <img
                src="/client/public/assets/cow.jpg"
                class="d-block w-100"
                alt="..."
              />
              <div class="carousel-caption d-none d-md-block">
                <h5 class="fs-2">
                  Cattle
                  <span>Calves & dairy</span>
                </h5>
                <p class="text-white fs-4 bg-secondary">
                  For the love of wholesome goodness, trust in our dairy's
                  excellence.
                </p>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img
                src="/client/public/assets/cow2.jpg"
                class="d-block w-100"
                alt="..."
              />
              <div class="carousel-caption d-none d-md-block">
                <h5 class="fs-2">Advance Cow Shelter</h5>
                <p class="text-white fs-4 bg-secondary rounded">
                  Modern comfort for contented cows: where advanced shelter
                  meets bovine bliss
                </p>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="/client/public/assets/cow3.jpg"
                class="d-block w-100"
                alt="..."
              />
              <div class="carousel-caption d-none d-md-block">
                <h5 class="fs-2">Growth in income</h5>
                <p class="text-white fs-4 bg-secondary">
                  Empowering Prosperity: Your Path to Income Growth.
                </p>
              </div>
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

      <div class="box-section">
        <div class="owl-carousel owl-theme">
          <div class="card_1"></div>
          <div class="card_1"></div>
          <div class="card_1"></div>
          <div class="card_1"></div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>

    <script src="/client/public/js/cattle.js"></script>
  </body>
</html>
