<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AdiKrishi</title>
    <link rel="stylesheet" href="/client/public/css/organic.css" />
    <link rel="stylesheet" href="/client/public/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik+Gemstones&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="navbar">
      <div class="nav_left">
        <div class="logo_img">
          <img src="/client/public/assets/farmer_logo.png" alt="" />
        </div>
        <div class="title">KISAN <span class="pragati">PRAGATI</span></div>
      </div>
      <div class="nav_mid">
        <div class="home"><a href="/client/index.html">Home</a></div>

        <div class="dropdown">
          <button class="services">Services</button>
          <div class="drop_content">
            <a href="./src/components/precision.html">Precision Agriculture</a>
            <a href="./organic.html">Organic Farming</a>
            <a href="./cattle.html">Animal Husbandry</a>
          </div>
        </div>

        <div class="contact"><a href="">Contact</a></div>
        <div class="help"><a href="./faq.html">Help</a></div>
      </div>
      <div class="nav_right">
        <button class="sign_in">
          <a href="./signin.html">Sign in</a>
        </button>
      </div>
    </div>

    <!--main page starts from here -->

    <div class="org_main">
      <div class="org_left">
        <div class="org_intro">
          Welcome to our <br />organic farming <br />community
        </div>
        <div class="org_des">
          Step into the world of organic farming and discover
          <br />
          the art of growing nutrient-rich produce, all while <br />caring for
          our planet and its ecosystems
        </div>
        <div class="org_button">
          <button class="org_demo">Demo</button>
          <button class="signup">Sign in</button>
        </div>
      </div>
      <div class="org_right">
        <img src="/client/public/assets/organic_main.png" />
      </div>
    </div>

    <div class="wave">We are here to help you</div>

    <!--page 2 starts from here -->

    <div class="features">
      Features
      <div class="ft_text">Overflowing with useful features</div>
    </div>

    <script src="/client/public/js/organic.js"></script>
  </body>
</html>
