<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Precision Agriculture</title>
    <link rel="stylesheet" href="/client/public/css/navbar.css">
    <link rel="stylesheet" href="/client/public/css/precision.css">
</head>

<body>
    <div class="navbar">
        <div class="nav_left">
            <div class="logo_img"><img src="/client/public/assets/farmer_logo.png" alt=""></div>
            <div class="title">KISAN <span class="pragati">PRAGATI</span></div>
        </div>
        <div class="nav_mid">
            <div class="home"><a href="/client/index.html">Home</a></div>
            <div class="dropdown">
                <button class="services">Services</button>
                <div class="drop_content">
                    <a href="./precision.html">Precision Agriculture</a>
                    <a href="./organic.html">Organic Farming</a>
                    <a href="./cattle.html">Animal Husbandry</a>
                </div>
            </div>

            <div class="contact"><a href="./contact.html">Contact</a></div>
            <div class="help"><a href="./help.html">Help</a></div>
        </div>
        <div class="nav_right">
            <button class="sign_in"><a href="">Log Out</a></button>
        </div>
    </div>

    <div class="precision_body">
        <div class="prec_left">
            <div class="prec_card_1">
                <div class="prec_head">Plant Health Detection</div>
                <div class="prec_img_1">
                    <img src="/client/public/assets/disease.jpeg" alt="">
                </div>
                <div class="prec_detail">
                    <div class="prec_text">Easily diagnose plant diseases with
                        our user-friendly image abstraction
                        platform. Get quick insights into leaf and fruit health for healthier crops!</div>
                    <button class="prec_try_1"><a href="./image.html">Try Now</a></button>
                </div>
            </div>
        </div>
        <div class="prec_right">
            <div class="prec_card_2">
                <div class="prec_head"> Weather-Informed Farming Solutions</div>
                <div class="prec_img_2"><img src="/client/public/assets/soil.jpeg" alt=""></div>
                <div class="prec_detail">
                    <div class="prec_text">Ideal Crops: Tailoring Cultivation to Local Weather Patterns. Stay
                        Informed, Choose
                        Wisely, Maximize Yield!</div>
                    <button class="prec_try_2"><a href="./weather.html">Try Now</a></button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>