body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #b0ffb06c;
}
.container {
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  margin-top: 80px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(5, 0, 0, 0.6);
  font-family: "Poppins", sans-serif;
}
h1 {
  text-align: center;
}
label {
  display: block;
  margin-bottom: 5px;
}
input[type="text"],
input[type="email"],
input[type="datetime-local"],
input[type="submit"] {
  width: calc(100% - 16px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #f9f9f9; /* Background color added */
}
input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}
input[type="submit"]:hover {
  background-color: yellowgreen;
  color: black;
}

.contact_page {
  display: flex;
  justify-content: space-evenly;
}

.contact_page img {
  width: 300px;
  height: 300px;
  border-bottom-left-radius: 23%;
  border-bottom-right-radius: 2%;
  border-top-left-radius: 2%;
  border-top-right-radius: 23%;
  border: 2px solid rgba(28, 31, 31, 0.932);
}

.img_left img {
  margin-top: 100px;
  margin-left: 50px;
  transition: transform 0.5s ease;
}

.img_right img {
  margin-top: 100px;
  margin-right: 50px;
  transition: transform 0.5s ease;
}

.img_left img:hover {
  transform: scale(1.1);
  z-index: 1; /* Apply z-index to the parent container if needed */
}
.img_right img:hover {
  transform: scale(1.08);
  z-index: 1; /* Apply z-index to the parent container if needed */
}
