* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(180, 255, 180);
  width: 10px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50px;
}

.org_main {
  background-color: #f7f7ef;
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
}

.org_right img {
  width: 650px;
  height: 500px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Adding shadow */
}

.org_right {
  float: right;
  position: relative;
  left: 100px;
  z-index: 1; /* Adjusting z-index */
}

.org_intro {
  font-size: 65px;
  font-weight: 500;
  color: rgb(3, 56, 3);
  font-family: "Rubik Gemstones", system-ui;
  padding-top: 100px;
}

.org_button {
  display: flex;
  gap: 50px;
  padding-top: 40px;
}

.org_des {
  padding-top: 25px;
  font-size: 25px;
  font-family: "Love Ya Like A Sister", cursive;
  font-weight: 400;
}

.org_demo,
.signup {
  border: 2px solid;
  padding: 3px;
  font-size: 20px;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
}

.org_demo:hover,
.signup:hover {
  background-color: yellow;
}

.wave {
  height: 50px;
  position: relative;
  background: linear-gradient(90deg, #f1eede 0%, #a5afb7 100%);
}

/* Wave text css */
.wave {
  color: rgb(8, 47, 8);
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  padding-top: 25px;
  padding-bottom: 50px;
  font-family: "Love Ya Like A Sister", cursive;
}
/* */

.wave::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 10px;
  background-size: 20px 20px;
  background-image: radial-gradient(
    circle at 10px -5px,
    transparent 12px,
    #f7f7ef 13px
  );
}
.wave::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 15px;
  background-size: 40px 20px;
  background-image: radial-gradient(
    circle at 10px 15px,
    #f7f7ef 12px,
    transparent 13px
  );
}

.features {
  background-color: #ffffff;
  color: rgb(3, 56, 3);
  font-family: "Rubik Gemstones", system-ui;
  padding: 100px;
  font-size: 70px;
}

.ft_text {
  font-size: 40px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  padding-top: 20px;
}

.fa-solid {
  font-size: 50px;
}

.org_details {
  padding-top: 70px;
}

.org_details_top {
  display: flex;
  gap: 250px;
}

.org_heading {
  color: black;
  font-size: 30px;
  padding-top: 5px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.org_explain {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  padding-top: 10px;
  color: black;
}

.org_details_bottom {
  padding-top: 20px;
  display: flex;
  gap: 256px;
}

.shift {
  padding-right: 52px;
}
